
/* heart icons color red */
#live1,
#live2,
#live3 {
  color: #ff0000;
}

/* logo image max width */
#logo {
  max-width: 25px;
}

#splash > img.img-fluid {
  max-width: 250px;
}

/* default cursor styles */
div.board-card {
  cursor: default;
}

/* hand cursor styles */
div.board-card:hover {
  cursor: pointer;
}

/* board cards images thumbnail style when started */
div.board-card>img.img-thumbnail {
  width: 75%;
  border-width: 5px;
  border-color: transparent;
}

/* board cards images thumbnail style when mouse hovered */
div.board-card:hover>img.img-thumbnail {
  border-color: #ededed;
}

/* board cards images thumbnail style when matched */
div.board-card.matched>img.img-thumbnail {
  border-color: #00c119;
}